.a{
    font-family: 'poppins',sans-serif;
    margin-left: 40px;
    font-size: 23px;
    
}
.right a{
    text-decoration: none;
    color: black;
    
}
.right a b{
      font-family: 'Poppins'sans-serif;
      font-weight: 500;
}
#c{
    color: rgba(96, 228, 56, 0.743);
}
.first{
    background: rgb(255, 255, 255);
    height: 80px;
    margin-top: -30px;
}
.left{
   margin-left: 1000px;
   margin-top: -20px;
}
.left select option{
      font-family: 'Poppins',sans-serif;
}
select{
    border: none;
    font-family: 'poppins',sans-serif;
    background: transparent;
    color: rgb(78, 69, 69);
}
.second{
    background: rgb(245, 241, 241);
    margin-top: -20px;
    margin-top: 0px;
}
.content{
    margin-left: 100px;
}
h1{
    font-size: 30px;
    font-family: 'poppins',sans-serif;
    font-weight: 700;
}
H4{
    font-family:'poppins',sans-serif ;
    margin-top: -1px;
    margin-top: 10px;
}
#e{
    color: rgb(29, 126, 22);
    margin-top: -20px;
}
.title{
    margin-left: 84px;
    margin-top: -50px;
}
.sbox{
    margin-left: 500px;
    margin-top: -80px;
}
a{
      text-decoration: none;
      font-family: 'Poppins',sans-serif;
      color: rgb(77, 74, 74);
      font-weight: 700;
}
input[type="search"]{
    padding: 6px;
    border: 2px solid rgb(138, 225, 32);
    width: 300px;
    height: 40px;
    border-radius: 8px;
}
button{
    padding: 8px;
    margin-left: 2px;
    font-family: 'poppins',sans-serif;
    background: rgb(138, 225, 32);
    color: #fff;
    border: none;
    width: 80px;
    border-radius: 7px;
}

.side{
    margin-left: 1000;
    margin-top: -60px;
}
#s2{
    margin-left: 140px;
    background: #000;
    padding: 8px;
    width: 160px;
    margin-top: -60px;
    color: #fff;
    font-family: 'poppins',sans-serif;
}
#s2 p span{
    color: rgb(6, 199, 6);
}
#o{
   
}
#z{
    border: 2px solid #aaa;
    padding: 6px;
    width: 300px;
    border-left: 0;
    border-right: 0;
    color: #000;
}
#n{
    border: 2px solid #aaa;
    padding: 6px;
    width: 284px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-family: 'poppins',sans-serif;
}
.taa{
    width: 900px;
    height: 450px;
    border: 0px solid black;
}
.t1{
    margin-left: 400px;
    margin-top: -670px;
    animation: change 5s infinite ease-in-out;
    background-repeat: no-repeat;
    border-radius: 12px;
}
@keyframes change{
    0%{
        background-image: url(cer3.jpg);
    }
    20%{
    background-image: url(cer3.jpg);
}
50%{
    background-image: url(cer4.jpg);
}
80%{
    background-image: url(cer5.jpg);
}
100%{
    background-image: url(cer2.jpg);
}

}
span::before{
    content: '';
    animation: animate infinite 5s;
}
@keyframes animate{
    10%{
          content: 'Computer Application';

    }
    20%{
          content: 'languages';

    }
    40%{
          content: 'Fashion Design';

    }
}


.word{
    margin-top: -180px;
    margin-left: 500px;
    font-family: 'poppins',sans-serif;
}
.box{
      background: black;
      width: 290px;
      height: 140px;
      border: 1px solid black;
      margin-left: 390px;
      margin-top: 140px;
      border-radius: 10px;

}
.box1{
      background: rgb(126, 216, 8);
      width: 290px;
      height: 140px;
      border: 1px solid rgb(126, 216, 8);
      margin-left: 305px;
      margin-top: -114px; 
      border-radius: 10px; 
}
.box2{
      background: rgb(126, 216, 8);
      width: 290px;
      height: 140px;
      border: 1px solid rgb(126, 216, 8);
      margin-left: 305px;
      margin-top: -128px;  
      border-radius: 10px; 
}
.box3{
      background: rgb(126, 216, 8);
      width: 290px;
      height: 140px;
      border: 1px solid rgb(126, 216, 8);
      margin-left: -615px;
      margin-top: 80px; 
      border-radius: 10px;     
}
.box4{
      background: rgb(126, 216, 8);
      width: 290px;
      height: 140px;
      border: 1px solid rgb(126, 216, 8);
      margin-left: 308px;
      margin-top: -128px; 
      border-radius: 10px;     
}
.box5{
      background: rgb(126, 216, 8);
      width: 290px;
      height: 140px;
      border: 1px solid rgb(126, 216, 8);
      margin-left: 305px;
      margin-top: -128px;  
      border-radius: 10px;    
}
.para{
    margin-top: -120px;
}
.validation{
    margin-top: 80px;
    margin-left: 30px;
}
.btn{
    margin-left: 210px;
    margin-top: 20px;
}
.btn:hover{
    transform: scale(0.7s);
    transition: .2s;
}
#signup{
    display: none;
}
 #b1:hover{
    transform: rotate(360deg);
    transition: 0.8s;
    background-color: red;
    color: #fff;
    cursor: pointer;
}